In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv('DS1_C9_S2_Practice_BikeSales_Data.csv ')
df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,26-11-2013,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45,120.0,590.0,360.0,950
1,26-11-2015,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45,120.0,590.0,360.0,950
2,02-08-2013,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5.0,45,120.0,369.0,225.0,594
3,02-08-2015,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7.0,45,120.0,517.0,315.0,832
4,02-09-2013,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2.0,45,120.0,148.0,90.0,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,18-02-2014,18,February,2014,37,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,13.0,2,5.0,38.0,26.0,64
496,18-02-2016,18,February,2016,37,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,31.0,2,5.0,91.0,62.0,153
497,18-02-2016,18,February,2016,37,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,11.0,2,5.0,32.0,22.0,54
498,04-03-2014,4,March,2014,37,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,5.0,2,5.0,15.0,10.0,25
499,04-03-2014,4,March,2014,37,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,6.0,2,5.0,18.0,12.0,30

In [14]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,26-11-2013,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45,120.0,590.0,360.0,950
1,26-11-2015,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45,120.0,590.0,360.0,950
2,02-08-2013,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5.0,45,120.0,369.0,225.0,594
3,02-08-2015,2,August,2015,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,7.0,45,120.0,517.0,315.0,832
4,02-09-2013,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2.0,45,120.0,148.0,90.0,238

In [9]:
df.dtypes

Date                 object
Day                   int64
Month                object
Year                  int64
Customer_Age          int64
Age_Group            object
Customer_Gender      object
Country              object
State                object
Product_Category     object
Sub_Category         object
Product              object
Order_Quantity      float64
Unit_Cost             int64
Unit_Price          float64
Profit              float64
Cost                float64
Revenue               int64
dtype: object

In [15]:
df.shape

(500, 18)

In [20]:
df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,500.000000,500.000000,500.000000,495.000000,500.000000,497.000000,498.000000,498.000000,500.000000
mean,15.192000,2014.552000,36.588000,13.375758,16.548000,43.601610,208.435743,130.391566,343.216000
std,8.675579,1.116149,11.363649,9.249150,21.759473,58.344484,340.307443,210.001172,556.346929
min,1.000000,2013.000000,17.000000,1.000000,2.000000,5.000000,3.000000,2.000000,5.000000
25%,9.000000,2014.000000,31.000000,5.000000,2.000000,5.000000,41.000000,28.000000,69.000000
50%,16.000000,2014.000000,35.000000,12.000000,3.000000,9.000000,77.000000,50.000000,129.000000
75%,22.000000,2016.000000,42.000000,22.000000,45.000000,120.000000,163.500000,108.000000,272.000000
max,31.000000,2016.000000,73.000000,32.000000,59.000000,159.000000,2214.000000,1350.000000,3564.000000

In [19]:
df.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      5
Unit_Cost           0
Unit_Price          3
Profit              2
Cost                2
Revenue             0
dtype: int64

In [38]:
df['Order_Quantity'].unique()
df['Order_Quantity'].nunique()

32

In [36]:
df['Unit_Price'].unique()
df['Unit_Price'].nunique()

5

In [40]:
df['Order_Quantity'].fillna(df['Order_Quantity'].mean(), inplace= True)
df['Unit_Price'].fillna(df['Unit_Price'].mean(), inplace= True)
df['Profit'].fillna(df['Profit'].mean(), inplace= True)
df['Cost'].fillna(df['Cost'].mean(), inplace=True)

In [41]:
df.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [42]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Normalize specified columns
df[['Order_Quantity', 'Cost']] = scaler.fit_transform(df[['Order_Quantity', 'Cost']])

print(df)

           Date  Day      Month  Year  Customer_Age             Age_Group  \
0    26-11-2013   26   November  2013            19           Youth (<25)
1    26-11-2015   26   November  2015            19           Youth (<25)
2    02-08-2013    2     August  2013            29  Young Adults (25-34)
3    02-08-2015    2     August  2015            29  Young Adults (25-34)
4    02-09-2013    2  September  2013            29  Young Adults (25-34)
..          ...  ...        ...   ...           ...                   ...
495  18-02-2014   18   February  2014            37        Adults (35-64)
496  18-02-2016   18   February  2016            37        Adults (35-64)
497  18-02-2016   18   February  2016            37        Adults (35-64)
498  04-03-2014    4      March  2014            37        Adults (35-64)
499  04-03-2014    4      March  2014            37        Adults (35-64)

    Customer_Gender Country             State Product_Category  \
0                 M  Canada  British Columbia      Accessories
1                 M  Canada  British Columbia      Accessories
2                 M  Canada  British Columbia      Accessories
3                 M  Canada  British Columbia      Accessories
4                 M  Canada  British Columbia      Accessories
..              ...     ...               ...              ...
495               M  Canada  British Columbia      Accessories
496               M  Canada  British Columbia      Accessories
497               M  Canada  British Columbia      Accessories
498               M  Canada  British Columbia      Accessories
499               M  Canada  British Columbia      Accessories

          Sub_Category                Product  Order_Quantity  Unit_Cost  \
0           Bike Racks    Hitch Rack - 4-Bike        0.225806         45
1           Bike Racks    Hitch Rack - 4-Bike        0.225806         45
2           Bike Racks    Hitch Rack - 4-Bike        0.129032         45
3           Bike Racks    Hitch Rack - 4-Bike        0.193548         45
4           Bike Racks    Hitch Rack - 4-Bike        0.032258         45
..                 ...                    ...             ...        ...
495  Bottles and Cages  Water Bottle - 30 oz.        0.387097          2
496  Bottles and Cages  Water Bottle - 30 oz.        0.967742          2
497  Bottles and Cages  Water Bottle - 30 oz.        0.322581          2
498  Bottles and Cages  Water Bottle - 30 oz.        0.129032          2
499  Bottles and Cages  Water Bottle - 30 oz.        0.161290          2

     Unit_Price  Profit      Cost  Revenue
0         120.0   590.0  0.265579      950
1         120.0   590.0  0.265579      950
2         120.0   369.0  0.165430      594
3         120.0   517.0  0.232196      832
4         120.0   148.0  0.065282      238
..          ...     ...       ...      ...
495         5.0    38.0  0.017804       64
496         5.0    91.0  0.044510      153
497         5.0    32.0  0.014837       54
498         5.0    15.0  0.005935       25
499         5.0    18.0  0.007418       30

[500 rows x 18 columns]